.showcarousel{
  margin-left:13%;
  margin-right:13%;
}

.event_contents_wrapper{
  margin-left:13%;
  margin-right:13%;
}

.event_title_showpage{
color: #484848 !important;
font-weight: 700 !important;
font-size: 36px !important;
}

.event_date_showpage{
font-size: 28px !important;
}
